Repository CircleCI-Public/path-filtering-orb: changes, and which CircleCI parameters are due for each by the changed paths.
All: test-scripts, test-commands

Add run-tag Variable to Trigger Build on Tag
  src/scripts/create-parameters.py
Due: test-scripts

feat:allow adding a config file per mapping line in the mapping param
  .circleci/test-deploy.yml
  src/commands/generate-config.yml
  src/examples/example.yml
  src/jobs/filter.yml
  src/scripts/create-parameters.py
  src/scripts/generate-config.sh
Due: test-scripts, test-commands

feat:allow adding a config file per mapping line in the mapping param (#72)
  .circleci/test-deploy.yml
  src/commands/generate-config.yml
  src/examples/example.yml
  src/jobs/filter.yml
  src/scripts/create-parameters.py
  src/scripts/generate-config.sh
Due: test-scripts, test-commands

maintain backward compatibility for config-path
  src/commands/set-parameters.yml
  src/jobs/filter.yml
  src/scripts/create-parameters.py
Due: test-scripts, test-commands

maintain backward compatibility for config-path (#73)
  src/commands/set-parameters.yml
  src/jobs/filter.yml
  src/scripts/create-parameters.py
Due: test-scripts, test-commands

Comment not currently supporting server
  README.md
  src/@orb.yml
Due: none

Revert "Prevent commits with a `skip ci` tag from being included in path based filtering"
  src/scripts/create-parameters.py
Due: test-scripts

Set an ovveride config-path
  .circleci/test-deploy.yml
Due: none

Add explnatory comments around config paths and mapping
  src/examples/example.yml
Due: none

use python virtualenv
  src/commands/set-parameters.yml
  src/scripts/create-parameters.py
  src/scripts/create-parameters.sh
Due: test-scripts, test-commands

use cimg/python image name in description
  src/executors/default.yml
  src/jobs/filter.yml
Due: none

add better error message and type checks for pipeline parameters in mapping
  src/scripts/create-parameters.py
Due: test-scripts

add better error message and type checks for pipeline parameters in mapping (#83)
  src/scripts/create-parameters.py
Due: test-scripts

Add shallow checkout
  src/jobs/filter.yml
Due: none

Doc and example updates
  .circleci/test-deploy.yml
  src/commands/set-parameters.yml
  src/examples/path_filtering.yml
  src/jobs/filter.yml
Due: test-commands

Test yq
  src/scripts/generate-config.sh
Due: test-scripts

Fix values being unquoted
  src/scripts/generate-config.sh
Due: test-scripts

Fixes yq version to avoid imcompabilities
  src/scripts/generate-config.sh
Due: test-scripts

add dynamic base-revision
  src/commands/set-parameters.yml
  src/jobs/filter.yml
  src/scripts/create-parameters.py
Due: test-scripts, test-commands

add fallback value if base evals null
  src/scripts/create-parameters.py
Due: test-scripts

adds before set-params script config
  src/jobs/filter.yml
Due: none

init explode yaml before merge
  src/scripts/generate-config.sh
Due: test-scripts

feat: parameterizing base to head comparison to optionally allow you to allow comparisons when base and head are the same revision
  src/commands/set-parameters.yml
  src/scripts/create-parameters.py
Due: test-scripts, test-commands

Fix for handling force pushes.
  src/scripts/create-parameters.py
Due: test-scripts

Don't detect copies/renames in set-parameters
  src/scripts/create-parameters.py
Due: test-scripts

fix: removing uneeded definition of resource_class
  src/jobs/filter.yml
Due: none

fix: removing wrongly placed orb parameter
  src/jobs/filter.yml
Due: none

fix: moving the git orb dependency to the @orb.yml file
  src/@orb.yml
Due: none

fix: include checkout-shallow file from remote to not depend on 3rd party
  src/@orb.yml
  src/commands/checkout-shallow.yml
  src/jobs/filter.yml
Due: test-commands

fix: adding checkout-shallow.sh file and including it in the respective yml
  src/commands/checkout-shallow.yml
  src/scripts/checkout-shallow.sh
Due: test-scripts, test-commands

fix: replacing script param vars with environment variables
  src/commands/checkout-shallow.yml
  src/scripts/checkout-shallow.sh
Due: test-scripts, test-commands

fix: fixing some shellcheck issues
  src/scripts/checkout-shallow.sh
Due: test-scripts

fix: more shellcheck fixes
  src/scripts/checkout-shallow.sh
Due: test-scripts

fix: Fix more shellcheck issues
  src/scripts/checkout-shallow.sh
Due: test-scripts

fix: trying to fox integer issue with closure
  src/commands/checkout-shallow.yml
Due: test-commands

fix: final shellcheck fixes
  src/scripts/checkout-shallow.sh
Due: test-scripts

fix: trying to fix integer problem with circelci command and clojure code
  src/commands/checkout-shallow.yml
Due: test-commands

fix: pack issue when executing orb validate - fixing type of two parameters
  src/commands/checkout-shallow.yml
Due: test-commands

Path conditions:
  test-scripts: any of: src/scripts/.*
  test-commands: any of: src/commands/.*
