Repository CircleCI-Public/path-filtering-orb: changes, and which CircleCI parameters are due for each by the changed paths.
All: test-changes, string-example="value", test-commands, test-examples, test-jobs, test-tests

.circleci/test-deploy.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@dev:<<pipeline.git.revision>>
  orb-tools: circleci/orb-tools@11.5

filters: &filters
  tags:
    only: /.+/

jobs:
  set-parameters-test:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            src/.* test-changes true
            src/examples/.* string-example "value"
      - path-filtering/set-parameters:
          config-path: ".circleci/test-deploy.yml"
          mapping: |
            src/commands/.* test-commands true .circleci/config.yml
            src/examples/.* test-examples true .circleci/test-deploy.yml
            src/jobs/.* test-jobs true .circleci/config.yml
            src/tests/.* test-tests true .circleci/test-deploy.yml

      - path-filtering/generate-config:
          config-list-path: /tmp/filtered-config-list
          generated-config-path: "/tmp/generated-config.yml"



workflows:
  test-deploy:
    jobs:
      - set-parameters-test:
          filters: *filters
      - orb-tools/pack:
          filters: *filters
      - orb-tools/publish:
          orb-name: circleci/path-filtering
          vcs-type: << pipeline.project.type >>
          pub-type: production
          requires:
            - orb-tools/pack
            - set-parameters-test
          context: orb-publisher
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

fix: updating the way the depth and fetch_depth are being invoked
  src/commands/checkout-shallow.yml
  src/jobs/filter.yml
Due: test-changes, test-commands, test-jobs

Add docker custom image + auth
  src/executors/custom.yml
  src/jobs/filter.yml
Due: test-changes, test-jobs

Add support for ip ranges
  src/jobs/filter.yml
Due: test-changes, test-jobs

Fix linter
  src/jobs/filter.yml
Due: test-changes, test-jobs

Add ip ranges support (#109)
  src/jobs/filter.yml
Due: test-changes, test-jobs

feat: enable shallow clones
  .gitignore
  src/@orb.yml
  src/jobs/filter.yml
Due: test-changes, test-jobs

Cleanup
  .circleci/README.md
  .circleci/config.yml
  .circleci/test-deploy.yml
  README.md
Due: none

further cleanup
  README.md
Due: none

update example
  src/examples/path_filtering.yml
Due: test-changes, string-example="value", test-examples

fix(executors): update to 3.12 tag by default
  src/executors/default.yml
Due: test-changes

Updates Python image from 3.8 to 3.9
  src/executors/default.yml
  src/jobs/filter.yml
Due: test-changes, test-jobs

Updates Python image from 3.8 to 3.9 (#113)
  src/executors/default.yml
  src/jobs/filter.yml
Due: test-changes, test-jobs

fix: Default Python image to 3.9
  src/executors/default.yml
  src/jobs/filter.yml
Due: test-changes, test-jobs

Remove python and add bash script
  src/@orb.yml
  src/commands/set-parameters.yml
  src/scripts/create-parameters.py
  src/scripts/create-parameters.sh
Due: test-changes, test-commands

Fix version name on orb jq dependency
  src/@orb.yml
Due: test-changes

Add codeowners file
  .github/CODEOWNERS
Due: none

feat: support Github's merge queue
  README.md
  src/commands/set-parameters.yml
  src/examples/path_filtering.yml
  src/executors/default.yml
  src/jobs/filter.yml
  src/scripts/create-parameters.py
Due: test-changes, string-example="value", test-commands, test-examples, test-jobs

example
  src/examples/path_filtering.yml
Due: test-changes, string-example="value", test-examples

fail if previous build is not found
  src/scripts/create-parameters.py
Due: test-changes

more comments
  src/commands/set-parameters.yml
  src/jobs/filter.yml
Due: test-changes, test-commands, test-jobs

fix: filter on successful jobs only
  src/examples/path_filtering.yml
  src/scripts/create-parameters.py
Due: test-changes, string-example="value", test-examples

Remove python and move to bash for set parameters command. (#114)
  .github/CODEOWNERS
  src/@orb.yml
  src/commands/set-parameters.yml
  src/scripts/create-parameters.py
  src/scripts/create-parameters.sh
Due: test-changes, test-commands

Converte any non json value to string
  src/scripts/create-parameters.sh
Due: test-changes

Update param description to reflect this change
  src/commands/set-parameters.yml
  src/jobs/filter.yml
Due: test-changes, test-commands, test-jobs

Converte any non json value to string (#116)
  src/commands/set-parameters.yml
  src/jobs/filter.yml
  src/scripts/create-parameters.sh
Due: test-changes, test-commands, test-jobs

Add a parameter to filter job to checkout conditionally
  src/jobs/filter.yml
Due: test-changes, test-jobs

Add a parameter to filter job to checkout conditionally (#117)
  src/jobs/filter.yml
Due: test-changes, test-jobs

Support length 2 and 1 for line
  src/scripts/create-parameters.sh
Due: test-changes

Add example with new cases
  src/examples/path_filtering.yml
Due: test-changes, string-example="value", test-examples

Feat/no params mapping (#118)
  src/examples/path_filtering.yml
  src/scripts/create-parameters.sh
Due: test-changes, string-example="value", test-examples

Add exclude functionality
  src/commands/set-parameters.yml
  src/examples/path_filtering.yml
  src/jobs/filter.yml
  src/scripts/create-parameters.sh
Due: test-changes, string-example="value", test-commands, test-examples, test-jobs

Update script logic
  src/scripts/create-parameters.sh
Due: test-changes

fix typo
  src/jobs/filter.yml
Due: test-changes, test-jobs

Feat/exclude paths (#119)
  src/commands/set-parameters.yml
  src/examples/path_filtering.yml
  src/jobs/filter.yml
  src/scripts/create-parameters.sh
Due: test-changes, string-example="value", test-commands, test-examples, test-jobs

Add same-base-run parameter
  src/commands/set-parameters.yml
  src/jobs/filter.yml
  src/scripts/create-parameters.sh
Due: test-changes, test-commands, test-jobs

Add test for new functionality
  .circleci/config.yml
  .circleci/test-deploy.yml
Due: none

Add matrix to new test
  .circleci/test-deploy.yml
Due: none

Fix sytnax
  .circleci/test-deploy.yml
Due: none
