Repository CircleCI-Public/path-filtering-orb: changes, and which CircleCI parameters are due for each by the changed paths.
All: foo=bar, test-changes, string-example="value", test-commands, test-examples, test-jobs, test-tests

fix condition
  src/scripts/create-parameters.sh
Due: foo=bar, test-changes

Feat/same base run (#120)
  .circleci/config.yml
  .circleci/test-deploy.yml
  src/commands/set-parameters.yml
  src/jobs/filter.yml
  src/scripts/create-parameters.sh
Due: foo=bar, test-changes, test-commands, test-jobs

Allow to use any executor and update tests
  .circleci/continue_config.yml
  .circleci/test-deploy.yml
  src/executors/default.yml
  src/jobs/filter.yml
Due: foo=bar, test-changes, test-jobs

Add setup true
  .circleci/continue_config.yml
  .circleci/test-deploy.yml
Due: none

Add setup true to contineu_config
  .circleci/continue_config.yml
Due: none

Try to unify everythin into one file
  .circleci/config.yml
Due: none

Rever previuos changes, and add debug mode
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/test-deploy.yml
  src/jobs/filter.yml
Due: foo=bar, test-changes, test-jobs

Fix tests
  .circleci/test-deploy.yml
Due: none

fix debug condition
  src/jobs/filter.yml
Due: foo=bar, test-changes, test-jobs

Add more executors to test
  .circleci/test-deploy.yml
Due: none

fix syntax
  .circleci/test-deploy.yml
Due: none

Split macos and arm
  .circleci/test-deploy.yml
Due: none

Get platform when installing yq
  src/scripts/generate-config.sh
Due: foo=bar, test-changes

update installation method
  src/scripts/generate-config.sh
Due: foo=bar, test-changes

Remove old yq method
  src/scripts/generate-config.sh
Due: foo=bar, test-changes

Update executor versions on tests
  .circleci/test-deploy.yml
Due: none

Update filter job to receive an executor param. (#121)
  .circleci/test-deploy.yml
  src/executors/default.yml
  src/jobs/filter.yml
  src/scripts/generate-config.sh
Due: foo=bar, test-changes, test-jobs

Add parameters required for continuation orb
  src/jobs/filter.yml
  src/scripts/create-parameters.sh
Due: foo=bar, test-changes, test-jobs

update continuation orb version
  src/@orb.yml
Due: foo=bar, test-changes

Add parameters required for continuation orb (#122)
  src/@orb.yml
  src/jobs/filter.yml
  src/scripts/create-parameters.sh
Due: foo=bar, test-changes, test-jobs

fix(executors): switch to `cimg/base` executor
  src/examples/path_filtering.yml
  src/executors/default.yml
Due: foo=bar, test-changes, string-example="value", test-examples

Force json value
  src/scripts/create-parameters.sh
Due: foo=bar, test-changes

Update mapping script
  src/scripts/create-parameters.sh
Due: foo=bar, test-changes

Fix write_mappings when value is false (#126)
  src/scripts/create-parameters.sh
Due: foo=bar, test-changes

fix(executors): switch to `cimg/base` executor (#123)
  src/examples/path_filtering.yml
  src/executors/default.yml
Due: foo=bar, test-changes, string-example="value", test-examples

Update to new continuation orb version
  src/@orb.yml
Due: foo=bar, test-changes

Update to new continuation orb version (#130)
  src/@orb.yml
Due: foo=bar, test-changes

fix(parameters): enable negative lookaheads, lookbehinds, and other complex expressions for mapping
  src/jobs/filter.yml
  src/scripts/create-parameters.sh
Due: foo=bar, test-changes, test-jobs

Fix home url
  src/@orb.yml
Due: foo=bar, test-changes

fix(parameters): enable complex expressions for mapping (#131)
  src/@orb.yml
  src/jobs/filter.yml
  src/scripts/create-parameters.sh
Due: foo=bar, test-changes, test-jobs

fix: prevent global variable pollution
  src/scripts/create-parameters.sh
Due: foo=bar, test-changes

fix: prevent global variable pollution (#132)
  src/scripts/create-parameters.sh
Due: foo=bar, test-changes

Add checkout method parameter
  src/jobs/filter.yml
Due: foo=bar, test-changes, test-jobs

Fix linter
  src/jobs/filter.yml
Due: foo=bar, test-changes, test-jobs

Use string
  src/jobs/filter.yml
Due: foo=bar, test-changes, test-jobs

fix syntax
  src/jobs/filter.yml
Due: foo=bar, test-changes, test-jobs

Add checkout method parameter (#134)
  src/jobs/filter.yml
Due: foo=bar, test-changes, test-jobs

Update to full to keep compatibility
  src/jobs/filter.yml
Due: foo=bar, test-changes, test-jobs

Update to full to keep compatibility (#135)
  src/jobs/filter.yml
Due: foo=bar, test-changes, test-jobs

Path conditions:
  foo=bar: any of: src/.*
  test-changes: any of: src/.*
  string-example="value": any of: src/examples/.*
  test-commands: any of: src/commands/.*
  test-examples: any of: src/examples/.*
  test-jobs: any of: src/jobs/.*
  test-tests: any of: src/tests/.*
